# Byte-compiled / cache
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
venv/

# IDE/editor
.vscode/
*.swp

# Node modules
client/node_modules/

# React build artifacts - IGNORE original build folder
client/build/

# Local env files
.env

# OS metadata
.DS_Store
Thumbs.db

# Logs
*.log

# Heroku runtime
*.sqlite3

autoplan.md