// _forms.scss

input, select, textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

  &:focus {
    outline: none;
    border-color: #f96332;
  }
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}
