// _navbar.scss

.navbar {
  background-color: #222;
  color: #fff;

  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f96332;
  }

  .nav-link {
    color: #fff;
    margin-right: 1rem;

    &:hover {
      color: #f96332;
    }
  }

  .dropdown-menu {
    background-color: #333;

    .dropdown-item {
      color: #fff;

      &:hover {
        background-color: #444;
      }
    }
  }
}
